# Files to exclude from repo
*/*
*.txt
*.jpg
*.py
*.db
secrets_session.py
gitbash.sh
# Files to include in repo
!sample.txt
!.gitignore
!__init__.py
!curl_to_secrets.sh
!database
!downloads_ig
!igpp.py
!LICENSE
!README.md
!requirements.txt
!utils
